.taskInput {
  border: none;
  border-radius: 10px;
  flex-grow: 3;
  font-size: 1.5rem;
  outline: none;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
/* .input {
  border: none;
  border-radius: 10px 0px 0px 10px;
  flex-grow: 3;
  font-size: 1.5rem;
  outline: none;
}

.input:focus {
  background-color: rgb(141, 215, 238);
  color: #282c34;
  transition-duration: 250ms;
} */
