* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
}
